
## Bank Note Authentication 


Data were extracted from images that were taken from genuine and forged banknote-like specimens. For digitization, an industrial camera usually used for print inspection was used. The final images have 400x 400 pixels. Due to the object lens and distance to the investigated object gray-scale pictures with a resolution of about 660 dpi were gained. Wavelet Transform tool were used to extract features from images.

#### Dataset link: https://www.kaggle.com/ritesaluja/bank-note-authentication-uci-data

#### Dataset Description:
##### variance : variance of Wavelet Transformed image
##### skewness  : skewness of Wavelet Transformed image
##### curtosis  : curtosis of Wavelet Transformed image
##### entropy  : entropy of Wavelet Transformed image

In [40]:
#importing libraries
import pandas as pd
import numpy as numpy

In [41]:
df = pd.read_csv("BankNote_Authentication.csv")

In [42]:
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [43]:
df.shape

(1372, 5)

In [44]:
df.describe()

          variance     skewness     curtosis      entropy        class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [45]:
X = df.iloc[:,:-1]
X.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [46]:
y = df.iloc[:,-1]
y.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [52]:
#Train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [53]:
#Implementation using RandomForest Classifier
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
## Fitting the model using train data
classifier.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [54]:
# Prediction of the model using the test data
y_pred = classifier.predict(X_test)

In [55]:
# Evaluation of the model
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)

In [56]:
print(accuracy)

0.9890909090909091

In [59]:
## creatiing a pickle file 
import pickle
pickle_out = open('model.pkl', 'wb')
pickle.dump(classifier,pickle_out)
pickle_out.close()

In [60]:
## let's test for some sample data to check whether our model works or not
classifier.predict([[2,3,4,1]])

array([0], dtype=int64)